<div class="flex aggregate-row" style="gap: var(--padding-md); padding: var(--padding-xs) 0 var(--padding-xs) 0;">
    <div class="col-sm-3" style="padding: 0px">
        <select class="aggregate-function form-control input-xs">
            <option value="" disabled selected>{{ __("Select Function...") }}</option>
            {% for condition in aggregate_function_conditions %}
            <option value="{{condition.name}}">{{ __(condition.label) }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="aggregate-on-field-container"></div>
    <div class="groupby-actions pull-left hidden-xs" style="padding-right: 0px">
        <span class="remove-aggregate-column">
            <svg class="icon icon-sm">
                <use href="#icon-close"></use>
            </svg>
        </span>
    </div>
</div>