<div class="flex aggregate-row">
    <div class="col-sm-3">
        <select class="aggregate-function form-control input-xs">
            <option value="" disabled selected>{{ __("Select Function...") }}</option>
            {% for condition in aggregate_function_conditions %}
            <option value="{{condition.name}}">{{ __(condition.label) }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="aggregate-on-field-container col-md-8"></div>
    <div class="groupby-actions hidden-xs">
        <span class="remove-aggregate-column">
            <svg class="icon icon-sm">
                <use href="#icon-close"></use>
            </svg>
        </span>
    </div>
</div>