<div class="group-by-box">
	<div class="flex">
		<div>
			<div class="level title">
				<h5>Group BY</h5>
				<button class="btn btn-secondary btn-xs add-group-by">Add</button>
			</div>
			<hr class="divider" />
			<div class="group-by-fields"></div>
		</div>
		<div class="divider"></div>
		<div>
			<div class="level title">
				<h5>Aggregate Column</h5>
				<button class="btn btn-secondary btn-xs add-aggregate-column">Add</button>
			</div>
			<hr class="divider" />
			<div class="aggregate-fields"></div>
		</div>
	</div>
	<hr class="divider" />
	<div class="flex justify-flex-end">
		<button class="btn btn-secondary btn-xs remove-all-group-by">Clear Group By</button>
		<button class="btn btn-primary btn-xs apply-group-by">Apply Group By</button>
	</div>
</div>
