<div class="group-by-box">
	<div class="flex" style="gap: 10px">
		<div style="width: 35%">
			<div class="flex level"  style="margin-bottom: 15px;">
				<div></div>
				<div style="font-weight: bold">Group BY</div>
				<button class="btn btn-secondary btn-xs add-group-by">Add</button>
			</div>
			<hr class="divider" />
			<div class="group-by-fields"></div>
		</div>
		<div class="divider" style="min-height: 100%; min-width: 1px; background: var(--scrollbar-thumb-color)"></div>
		<div style="width: 65%">
			<div class="flex level"  style="margin-bottom: 15px;">
				<div></div>
				<div style="font-weight: bold">Aggregate Column</div>
				<button class="btn btn-secondary btn-xs add-aggregate-column">Add</button>
			</div>
			<hr class="divider" />
			<div class="aggregate-fields"></div>
		</div>
	</div>
	<hr class="divider" />
	<div class="flex" style="justify-content: right; gap: 5px;">
		<button class="btn btn-secondary btn-xs remove-all-group-by">Clear Group By</button>
		<button class="btn btn-primary btn-xs apply-group-by">Apply Group By</button>
	</div>
</div>
